canvas {
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  pointer-events: none;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
      top: 0;
      left: 0;
      width: 100%;
      height: 20%;
  }

  .hide {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .open {
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }

.aligned {
  text-align: center;
  width: 500px;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.column {
  align-items: center;
  width:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.title {
  text-align: center;
  padding: 30px;
}


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 200px;
  height: 100px;
}
